$primary-color: #2274e7;
$secondary-color: #333333;

html {
  font-family: Roboto, sans-serif;
}
* {
  color: $secondary-color;
}
h1 {
  color: $primary-color;
  margin-bottom: 0.25em;
}
h2 {
  color: $secondary-color;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}
h3 {
  color: #766556;
}
a {
  color: #1896ff;
}
.contacts {
  margin-bottom: 2em;
}

.contact {
  display: flex;

  &__type {
    min-width: 90px;
  }
}
.contact__type {
  margin-right: 2em;
  margin-bottom: 1em;
}
.myskills {
  display: flex;
  &__name {
    font-weight: bold;
  }
}
.education {
  font-style: italic;
}
